<form name="user" method="post" action="{{form_action}}">
    <div id="{{alerts_id | default('form-alerts')}}">
    </div>
    <div class="row">
        {% if 'payment_option_online' not in fields.hidden %}
        <div class="col-sm-12">
            <div class="form-group">
                <label>Payment option online</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                    <select id="payment_option_online" class='form-control select2' name="payment_option_online" {% if 'payment_option_online' in fields.disabled %}disabled{% endif %}>

                            <option value="transfer_via_bank" {% if (company.payment_option_online == "Transfer_via_bank") %}selected{% endif %}>Transfer via Bank</option>
                            <option value="Credit_card" {% if (company.payment_option_online == "Credit_card") %}selected{% endif %}>Credit card</option>
                            <option value="PayPal" {% if (company.payment_option_online == "PayPal") %}selected{% endif %}>PayPal</option>

                    </select>
                    {#<input type="text" class="form-control" id="company_name_th" name="company_name_th" autocomplete="off" value="{{company.company_name_th}}" placeholder="Please enter the Thai company name" {% if 'company_name_th' in fields.disabled %}disabled{% endif %}>#}
                </div>
            </div>
        </div>
        {% endif %}
        {% if 'payment_option_offline' not in fields.hidden %}
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Payment option offline</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                        <select id="payment_option_offline" class='form-control select2' name="payment_option_offline" {% if 'payment_option_offline' in fields.disabled %}disabled{% endif %}>

                            <option value="transfer_via_bank" {% if (company.payment_option_offline == "Transfer_via_bank") %}selected{% endif %}>Transfer via Bank</option>
                            <option value="Credit_card" {% if (company.payment_option_offline == "Credit_card") %}selected{% endif %}>Credit card</option>
                            <option value="PayPal" {% if (company.payment_option_offline == "PayPal") %}selected{% endif %}>PayPal</option>

                        </select>
                        {#<input type="text" class="form-control" id="company_name_th" name="company_name_th" autocomplete="off" value="{{company.company_name_th}}" placeholder="Please enter the Thai company name" {% if 'company_name_th' in fields.disabled %}disabled{% endif %}>#}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if 'accept_all_booking' not in fields.hidden %}
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Accept all booking</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                        <input type="checkbox" name="accept_all_booking" class="form-control bootstrapswitch" {% if company.accept_all_booking == 1 %}checked{% endif %} {% if 'accept_all_booking' in fields.disabled %}disabled{% endif %}>
                        {#<input type="text" class="form-control" id="company_name_en" name="company_name_en" autocomplete="off" value="{{company.company_name_en}}" placeholder="Please enter the English company name" {% if 'company_name_en' in fields.disabled %}disabled{% endif %}>#}
                    </div>
                </div>
            </div>
        {% endif %}
        {% if 'time_cancel_reservation' not in fields.hidden %}
            <div class="col-sm-6">
                <div class="form-group">
                    <label>Time to Cancel reservation</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                        <input type="text" class="form-control" style="width: 90px;margin-right:5px;" id="time_cancel_reservation" name="time_cancel_reservation" autocomplete="off" value="{{company.time_cancel_reservation}}" placeholder="Please enter the China company name" {% if 'time_cancel_reservation' in fields.disabled %}disabled{% endif %}>
                        <span style="vertical-align: bottom">day</span>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if 'time_offer_booking' not in fields.hidden %}
            <div class="col-sm-6">
                <div class="form-group ">
                    <label>Time to Offer booking</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-edit"></i></span>
                        <input type="text" class="form-control" style="width: 90px;margin-right:5px;" id="time_offer_booking" name="time_offer_booking" autocomplete="off" value="{{company.time_offer_booking}}" placeholder="" {% if 'time_offer_booking' in fields.disabled %}disabled{% endif %}>
                        <span style="vertical-align: bottom">minute</span>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if 'allow_edit_order' not in fields.hidden %}
            <div class="col-sm-6">
                <h5>Allow to edit order</h5>
                <ul class="list-group permission-summary-rows">
                    {% for group in allow_edit_order %}
                        <li class="list-group-item">
                            {{group.name}}
                            <span class="pull-right">
                      <input type="checkbox" name="allow_edit_order[{{group.id}}]" class="form-control bootstrapswitch" data-id="{{group.id}}" {% if group.member %}checked{% endif %} {% if 'allow_edit_order' in fields.disabled %}disabled{% endif %}>
                                {#{% if 'primary_group_id' not in fields.hidden %}#}
                                    {#<button type="button" class="bootstrapradio btn btn-xs" name="primary_group_id" value="{{group.id}}" title="Set as primary group" data-selected="{% if group.id == target_user.primary_group_id %}true{% else %}false{% endif %}" {% if not group.member or 'primary_group_id' in fields.disabled %}disabled{% endif %}>#}
                                        {#<i class="fa fa-home"></i>#}
                                    {#</button>#}
                                {#{% endif %}#}
                    </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if 'allow_refund' not in fields.hidden %}
            <div class="col-sm-6">
                <h5>Allow refund</h5>
                <ul class="list-group permission-summary-rows">
                    {% for group in allow_refund %}
                        <li class="list-group-item">
                            {{group.name}}
                            <span class="pull-right">
                      <input type="checkbox" name="allow_refund[{{group.id}}]" class="form-control bootstrapswitch" data-id="{{group.id}}" {% if group.member %}checked{% endif %} {% if 'allow_refund' in fields.disabled %}disabled{% endif %}>
                                {#{% if 'primary_group_id' not in fields.hidden %}#}
                                    {#<button type="button" class="bootstrapradio btn btn-xs" name="primary_group_id" value="{{group.id}}" title="Set as primary group" data-selected="{% if group.id == target_user.primary_group_id %}true{% else %}false{% endif %}" {% if not group.member or 'primary_group_id' in fields.disabled %}disabled{% endif %}>#}
                                        {#<i class="fa fa-home"></i>#}
                                    {#</button>#}
                                {#{% endif %}#}
                    </span>
                        </li>
                    {% endfor %}
                </ul>
                {#<div class="form-group ">#}
                    {#<label>Allow refund</label>#}
                    {#<div class="input-group">#}
                        {#<span class="input-group-addon"><i class="fa fa-edit"></i></span>#}
                        {#<input type="text" class="form-control" id="allow_refund" name="allow_refund" autocomplete="off" value="{{company.allow_refund}}" placeholder="" {% if 'allow_refund' in fields.disabled %}disabled{% endif %}>#}
                    {#</div>#}
                {#</div>#}
            </div>
        {% endif %}
        {% if 'auto_send_sale_report' not in fields.hidden %}
        <div class="col-sm-12">
            <div class="form-group ">
                <label>Auto send sale report to email</label>
                {#<div class="input-group">#}
                    {#<span class="input-group-addon"><i class="fa fa-edit"></i></span>#}
                <input type="checkbox" name="auto_send_sale_report" class="form-control bootstrapswitch" {% if company.auto_send_sale_report == 1 %}checked{% endif %} {% if 'auto_send_sale_report' in fields.disabled %}disabled{% endif %}>
                    {#<textarea rows=3 class="form-control" id="auto_send_sale_report" name="auto_send_sale_report" placeholder="Company detail in Thai." {% if 'auto_send_sale_report' in fields.disabled %}disabled{% endif %}>{{ company.company_detail_th }}</textarea>#}
                    {#<input type="text" class="form-control" name="display_name" autocomplete="off" value="{{company.display_name}}" placeholder="Please enter the display name" {% if 'display_name' in fields.disabled %}disabled{% endif %}>#}
                {#</div>#}
            </div>
        </div>
        {% endif %}
        {% if 'auto_delete_and_export' not in fields.hidden %}
            <div class="col-sm-6">
                <div class="form-group ">
                    <label>Auto Delete and Export</label>
                    {#<div class="input-group">#}
                    {#<span class="input-group-addon"><i class="fa fa-edit"></i></span>#}
                    <input type="checkbox" name="auto_delete_and_export" class="form-control bootstrapswitch" {% if company.auto_delete_and_export == 1 %}checked{% endif %} {% if 'auto_delete_and_export' in fields.disabled %}disabled{% endif %}>
                    {#<textarea rows=3 class="form-control" id="auto_delete_and_export" name="auto_delete_and_export" placeholder="Company detail in English." {% if 'auto_delete_and_export' in fields.disabled %}disabled{% endif %}>{{ company.company_detail_en }}</textarea>#}
                    {#<input type="text" class="form-control" name="display_name" autocomplete="off" value="{{company.display_name}}" placeholder="Please enter the display name" {% if 'display_name' in fields.disabled %}disabled{% endif %}>#}
                    {#</div>#}
                </div>
            </div>
        {% endif %}
        {% if 'keep_sale_summary' not in fields.hidden %}
            <div class="col-sm-12">
                <div class="form-group ">
                    <label>Keep sale summary every Month for send to e-mail</label>
                    {#<div class="input-group">#}
                    {#<span class="input-group-addon"><i class="fa fa-edit"></i></span>#}
                    <input type="checkbox" name="keep_sale_summary" class="form-control bootstrapswitch" {% if company.keep_sale_summary == 1 %}checked{% endif %} {% if 'keep_sale_summary' in fields.disabled %}disabled{% endif %}>
                    {#<textarea rows=3 class="form-control" id="company_detail_cn" name="company_detail_cn" placeholder="Company detail in Thai." {% if 'company_detail_cn' in fields.disabled %}disabled{% endif %}>{{ company.company_detail_cn }}</textarea>#}
                    {#<input type="text" class="form-control" name="display_name" autocomplete="off" value="{{company.display_name}}" placeholder="Please enter the display name" {% if 'display_name' in fields.disabled %}disabled{% endif %}>#}
                    {#</div>#}
                </div>
            </div>
        {% endif %}
        {#<div class="col-sm-6">#}
            {#<div class="form-group ">#}
                {#<label>Last Updated</label>#}
                {#<div class="input-group">#}
                    {#<span class="input-group-addon"><i class="fa fa-calendar"></i></span>#}
                    {#<input type="text" class="form-control" name="last_sign_in_time" autocomplete="off" value="{% if company.last_sign_in_time %}{{company.last_sign_in_time | date('M j, Y g:i a')}}{% else %}Brand new!{% endif %}" disabled>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="col-sm-6">#}
            {#<div class="form-group ">#}
                {#<label>Created Since</label>#}
                {#<div class="input-group">#}
                    {#<span class="input-group-addon"><i class="fa fa-calendar"></i></span>#}
                    {#<input type="text" class="form-control" name="sign_up_time" autocomplete="off" value="{% if company.sign_up_time %}{{company.sign_up_time | date('M j, Y g:i a')}}{% else %}Unknown{% endif %}" disabled>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    </div><br>
    <div class="row">
        {% if "submit" not in buttons.hidden %}
        <div class="col-xs-8 col-sm-4">
            <div class="vert-pad">
                <button type="submit" class="btn btn-block btn-lg btn-success">
                    {{submit_button}}
                </button>
            </div>
        </div>
        {% endif %}
        {% if "edit" not in buttons.hidden %}
        <div class="col-xs-6 col-sm-3">
            <div class="vert-pad">
                <button type="button" class="btn btn-block btn-md btn-primary js-user-edit" data-id="{{company.id}}" data-toggle="modal">
                    <i class="fa fa-edit"></i> Edit
                </button>
            </div>
        </div>
        {% endif %}
        {#{% if "enable" not in buttons.hidden %}#}
        {#<div class="col-xs-6 col-sm-3">#}
            {#<div class="vert-pad">#}
                {#{% if company.status == "1" %}#}
                    {#<button type="button" class="btn btn-block btn-md btn-warning js-user-disable" data-id="{{company.id}}">#}
                        {#<i class="fa fa-minus-circle"></i> Disable#}
                    {#</button>#}
                {#{% else %}#}
                    {#<button type="button" class="btn btn-block btn-md btn-warning js-user-enable" data-id="{{company.id}}">#}
                        {#<i class="fa fa-plus-circle"></i> Enable#}
                    {#</button>#}
                {#{% endif %}#}
            {#</div>#}
        {#</div>#}
        {#{% endif %}#}
        {% if "delete" not in buttons.hidden %}
        <div class="col-xs-6 col-sm-3">
            <div class="vert-pad">
                <button type="button" class="btn btn-block btn-md btn-danger js-user-delete" data-id="{{company.id}}" data-user_name="{{company.user_name}}" data-toggle="modal">
                    <i class="fa fa-trash-o"></i> Delete
                </button>
            </div>
        </div>
        {% endif %}
        {% if "cancel" not in buttons.hidden %}
        <div class="col-xs-4 col-sm-3 pull-right">
            <div class="vert-pad">
                <button type="button" class="btn btn-block btn-lg btn-link" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        {% endif %}
    </div>
</form>
<script>
// Load the validator rules for this form
var validators = {{validators | raw}};
</script>
